<!--
Copyright 2017 Google Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<html lang="en">
<head>

    <meta charset="utf-8" />
    <title>Client Versions</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.0/pace.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.0/themes/black/pace-theme-minimal.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Custom fonts for this template-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="assets/css/sb-admin.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js" type="text/javascript"></script>
    <style>
      .table td {
          text-align: left;
      }
    </style>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="dashboard">KITE Dashboard</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="dashboard">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="IsWebRTCReadyYet?">
          <a class="nav-link" href="score">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">IsWebRTCReadyYet?</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Versions info">
          <a class="nav-link" href="versions">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Version Info</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Overview">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text">Overview</span>
          </a>
          <div class="big-container">
            <ul class="sidenav-second-level collapse" id="collapseMulti">
              #foreach($test in $listOfTest)
                <li><a href="public?testname=$linkTool.encode($test.getTestName())" style="font-size: 12px;" >$test.getTestName()<div class="circle"></div></a></li>
              #end
            </ul>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2" action="search" method="get">
            <div class="input-group">
              <input class="form-control" name="key" id="key"  type="text" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
          Version information
        </li>
      </ol>
      <div class="table-responsive ">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Current version</th>
              <th>Previous version</th>
              <th>Last updated at: </th>
              <th></td>
            </tr>
          </thead>
          <tbody class="text-left">
            #foreach($client in $clientVersionInfoList)
            <tr>
              <td class="name">$client.getName()</td>
              #if(!$client.getVersion().equalsIgnoreCase($client.getLastVersion()))
                  <td style="color:green">$client.getVersion() [<i class="fa fa-bell">]</td>
              #else
                  <td>$client.getVersion()</td>
              #end
              <td>$client.getLastVersion()</td>
              <td>$client.getLastUpdate()</td>
              #if($client.getName().equalsIgnoreCase("Selenium"))
                  <td><a href="http://www.seleniumhq.org/download/"><i class="fa fa-2x fa-download"></i></a></td>
              #elseif($client.getName().equalsIgnoreCase("ChromeDriver"))
                  <td><a href="https://sites.google.com/a/chromium.org/chromedriver/home"><i class="fa fa-2x fa-download"></i></a></td>
              #elseif($client.getName().equalsIgnoreCase("GeckoDriver"))
                  <td><a href="https://github.com/mozilla/geckodriver/releases"><i class="fa fa-2x fa-download"></i></a></td>
              #elseif($client.getName().equalsIgnoreCase("MicrosoftWebDriver"))
                  <td><a href="https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/"><i class="fa fa-2x fa-download"></i></a></td>
              #elseif($client.getName().equalsIgnoreCase("Firefox Stable"))
                  <td><a href="https://www.mozilla.org/en-US/firefox/new/"><i class="fa fa-2x fa-download"></i></a></td>
              #elseif($client.getName().equalsIgnoreCase("Firefox Nightly"))
                  <td><a href="https://www.mozilla.org/en-US/firefox/channel/desktop/"><i class="fa fa-2x fa-download"></i></a></td>
              #elseif($client.getName().equalsIgnoreCase("Chrome Stable"))
                  <td><a href="https://www.chromium.org/getting-involved/dev-channel"><i class="fa fa-2x fa-download"></i></a></td>
              #elseif($client.getName().equalsIgnoreCase("Chrome dev"))
                  <td><a href="https://www.chromium.org/getting-involved/dev-channel"><i class="fa fa-2x fa-download"></i></a></td>
              #elseif($client.getName().equalsIgnoreCase("Chrome Canary"))
                  <td><a href="https://www.chromium.org/getting-involved/dev-channel"><i class="fa fa-2x fa-download"></i></a></td>
              #elseif($client.getName().equalsIgnoreCase("Edge Stable"))
                  <td><a href="https://www.microsoft.com/en-sg/windows/microsoft-edge"><i class="fa fa-2x fa-download"></i></a></td>
              #elseif($client.getName().equalsIgnoreCase("Edge Insider"))
                  <td><a href="https://developer.microsoft.com/en-us/microsoft-edge/platform/changelog/insider/"><i class="fa fa-2x fa-download"></i></a></td>
              #elseif($client.getName().equalsIgnoreCase("Safari Stable"))
                  <td><a href="https://www.apple.com/safari/"><i class="fa fa-2x fa-download"></i></a></td>
              #elseif($client.getName().equalsIgnoreCase("Safari Technology Preview"))
                  <td><a href="https://developer.apple.com/safari/technology-preview/"><i class="fa fa-2x fa-download"></i></a></td>
              #end
            </tr>
            #end
          </tbody>
        </table>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>    <!-- Core plugin JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="assets/js/sb-admin.min.js"></script>
  </div>

</body>

</html>