<!--
Copyright 2017 Google Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<html lang="en">
<head>

    <meta charset="utf-8" />
    <title>KITE Test Dashboard</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.0/pace.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.0/themes/black/pace-theme-minimal.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    <link href="assets/css/first_page.css" rel="stylesheet"/>

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="https://rawgithub.com/olimsaidov/pixeden-stroke-7-icon/master/pe-icon-7-stroke/dist/pe-icon-7-stroke.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>

</head>
<body>
    <div class="wrapper">

        <div class="sidebar" data-color="black" data-image="assets/img/sidebarSmall.jpg">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="dashboard" class="simple-text">
                        KITE
                    </a>
                </div>

                <ul class="nav">
                    <li>
                        <div class="row">
                            <div class="col-sm-1 col-sm-offset-1">
                                <i class="pe-7s-search"></i>
                            </div>
                            <div class="col-sm-9 ">
                                <form action="search" method="get">
                                  <div>
                                    <input name="key" id="key" placeholder="Search">
                                  </div>
                                </form>
                            </div>

                        </div>
                    </li>
                    <li class="active">
                        <a href="dashboard">
                            <i class="pe-7s-note2"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="">
                        <a href="config">
                            <i class="pe-7s-note"></i>
                            <p>Configurator</p>
                        </a>
                    </li>
                    <li class="">
                        <a href="overview">
                            <i class="pe-7s-pin"></i>
                            <p>Overview</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End of side nav bar -->

        <!-- Start horizontal nav bar -->

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="dashboard">Dashboard</a>
                    </div>
                    <div class="collapse navbar-collapse">
                    </div>
                </div>
            </nav>
            <!-- End of horizontal nav bar -->
            <!-- Start main data content display -->
            <div class="content">
                <div class="container-fluid">

                        <div class="col-md-9">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Configurations Executed: </h4>
                                    </br>
                                </div>
                            </div>
                            <div class="wrapping">
                            #set($index = 1)
                            #foreach($config in $listOfConfig)
                                <div class="card">
                                    <div class="table-responsive table-full-width">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                <td>
                                                    <div class="header">
                                                        <h4 class="title">$index.$config.getConfigName() - $config.getNumberOfRuns() run(s)</h4>
                                                        <a class="lastRun" href ="tests?id=$linkTool.encode($config.getLatestId())&configname=$linkTool.encode($config.getConfigName())">Last run: $dateTool.format($config.getLatestRun())</a>
                                                    </div>
                                                    <table class="table">
                                                        <thead>
                                                        <th>Total</th>
                                                        <th style="background: #42f4aa; color: white;">Success</th>
                                                        <th style="background: #ff4b30; color: white;">Failed</th>
                                                        <th style="background: #30b3ff; color: white;">Error</th>
                                                        <th style="background: grey; color: white;">Pending</th>
                                                        <th></th>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>$config.getNumberOfTested()</td>
                                                                <td>$config.getNumberOfSuccess()</td>
                                                                <td>$config.getNumberOfFailed()</td>
                                                                <td>$config.getNumberOfError()</td>
                                                                <td>$config.getNumberOfPending()</td>
                                                                <td>
                                                                    <div class="dropdown">
                                                                        <button type="button" class="btn show-more dropdown-toggle" data-toggle="dropdown">Show all run(s) ..</button>
                                                                        <ul class="dropdown-menu">
                                                                               <li><a href ="execution?name=$linkTool.encode($config.getConfigName())">See all</a></li>
                                                                               #set($index1 = 1)
                                                                               #foreach($startTime in $config.getStartTimeList())
                                                                               <li><a href ="tests?id=$linkTool.encode($config.getId($startTime))&configname=$linkTool.encode($config.getConfigName())">$index1. $dateTool.format($startTime)</a></li>
                                                                               #set($index1 = $index1 + 1)
                                                                               #end
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td style="height:300px; width:25%; margin:0;"><div class="container" style="position: left; height:20vh; width:15vw; margin:0;">
                                                      <div>
                                                        <canvas id="$config.getConfigName()"></canvas>
                                                      </div>
                                                    </div>
                                                    <script>
                                                        var success = $config.getNumberOfSuccess();
                                                        var failed = $config.getNumberOfFailed();
                                                        var error = $config.getNumberOfError();
                                                        var pending = $config.getNumberOfPending();
                                                        var ctx = document.getElementById("$config.getConfigName()").getContext('2d');
                                                        var myChart = new Chart(ctx, {
                                                        type: 'pie',
                                                        data: {
                                                            labels: ["Success", "Failed", "Error", "Pending"],
                                                            datasets: [{
                                                                backgroundColor: [
                                                                "#42f4aa",
                                                                "#ff4b30",
                                                                "#30b3ff",
                                                                "grey"
                                                                ],
                                                                data: [success, failed, error, pending]
                                                                }]
                                                            },
                                                        options: {
                                                            responsive: false,
                                                            legend: {
                                                                        display: false,
                                                                        position: 'top',
                                                                        labels: {
                                                                            boxWidth: 30,
                                                                            fontSize: 12
                                                                        }
                                                                    }
                                                            }
                                                        });
                                                    </script>
                                                </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                #set($index = $index+ 1)
                            #end
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Browsers Tested With:</h4>
                                    </br>
                                </div>
                            </div>
                            <div class="card">
                                <div class="content wrapping">
                                    #foreach($browser in $listOfBrowser)
                                        <h5>
                                        #if ($browser.getName() == "firefox")
                                            <img src="assets/img/firefox.png" height="30" width="30">
                                        #elseif ($browser.getName() == "chrome")
                                            <img src="assets/img/chrome.png" height="30 width="30">
                                        #elseif ($browser.getName() == "MicrosoftEdge")
                                            <img src="assets/img/edge.png" height="30" width="30">
                                        #end

                                        $browser.getVersion()
                                        $browser.getPlatform()</h5>
                                    #end
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of main data content display -->
            <!-- Start footer-->
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                            </li>
                        </ul>
                    </nav>
                </div>
            </footer>
           <!-- End of footer-->
        </div>
    </div>
</body>
    <!--   Core JS Files   -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="assets/js/light-bootstrap-dashboard.js"></script>


</html>