<!--
Copyright 2017 Google Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<html lang="en">
<head>

    <meta charset="utf-8" />
    <title>Search results - KITE Dashboard</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.0/pace.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.0/themes/black/pace-theme-minimal.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/kite-dashboard.css" rel="stylesheet"/>
    <link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="https://rawgithub.com/olimsaidov/pixeden-stroke-7-icon/master/pe-icon-7-stroke/dist/pe-icon-7-stroke.css" rel="stylesheet" />
    <style>
    a {
      color: black;
      text-decoration: none;
    }
    input, select, textarea{
        color: #000000;
        border-radius: 8px;
        padding: 2px 2px;
    }
    </style>
</head>
<body>
    <div class="wrapper">
        <!-- Start of side nav bar -->
        <div class="sidebar" data-color="black" data-image="assets/img/sidebarSmall.jpg">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="dashboard" class="simple-text">
                        KITE
                    </a>
                </div>

                <ul class="nav">
                    <li>
                        <div class="row">
                            <div class="col-sm-1 col-sm-offset-1">
                                <i class="pe-7s-search"></i>
                            </div>
                            <div class="col-sm-9 ">
                                <form action="search" method="get">
                                  <div>
                                    <input name="key" id="key" placeholder="Search">
                                  </div>
                                </form>
                            </div>

                        </div>
                    </li>
                    <li class="active">
                        <a href="dashboard">
                            <i class="pe-7s-note2"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="score">
                            <i class="pe-7s-keypad"></i>
                            <p>Scoreboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="versions">
                            <i class="pe-7s-way"></i>
                            <p>Version Info</p>
                        </a>
                    </li>
                    <li>
                        <nav class="overview">
                            <ul>
                                <li><a href="#">
                                        <i class="pe-7s-pin"></i>
                                        <p>Overview</p>
                                    </a>
                                    <ul class="result-wrapping">
                                        #foreach($test in $listOfTest)
                                        #if($test.getTupleSize()==2)
                                          <li><a href="overview?testname=$linkTool.encode($test.getTestName())&1v1=true" style="font-size: 12px;" >$test.getTestName()<div class="circle"></div></a></li>
                                        #else
                                          <li><a href="overview?testname=$linkTool.encode($test.getTestName())&1v1=false" style="font-size: 12px;" >$test.getTestName()<div class="circle"></div></a></li>
                                        #end
                                        #end
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End of side nav bar -->
        <!-- Start main data content display -->
        <div class="main-panel">
        <!-- Start horizontal nav bar -->
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#">
                            <i class="pe-7s-menu"></i>
                        </button>
                        <a class="navbar-brand" href="dashboard">Dashboard</a>
                    </div>
                    <div class="collapse navbar-collapse">
                    </div>
                </div>
            </nav>
        <!-- End of horizontal nav bar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            #set($listOfConfig = $result.getListOfConfigResult())
                            #set($listOfTest = $result.getListOfConfigTestResult())
                            #if ($listOfConfig.size() > 0)
                            <div class="card search-wrapping">
                                <div class="header">
                                    <h4 class="title">Config found:</h4>
                                    <p class="category">This list shows all configs found with the key word: $result.getSearchKey()</p>
                                </div>
                                <div class="content table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <th>N.</th>
                                        <th>Config Name</th>
                                        <th>Start Time</th>
                                        </thead>
                                        <tbody>
                                            <!--Put velocity thing in here-->
                                            ## for each statement to iterate over a collection
                                            #set($index = 1)
                                            #foreach($config in $listOfConfig)
                                            <tr>
                                                <td><a href ="tests?id=$linkTool.encode($config.getConfigId())&configname=$linkTool.encode($config.getConfigName())">$index</a></td>
                                                <td><a href ="tests?id=$linkTool.encode($config.getConfigId())&configname=$linkTool.encode($config.getConfigName())">$config.getConfigName()</a></td>
                                                <td><a href ="tests?id=$linkTool.encode($config.getConfigId())&configname=$linkTool.encode($config.getConfigName())">$dateTool.format($config.getStartTime())</a></td>
                                            </tr>
                                            #set($index = $index + 1)
                                            #end
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            #end
                            #if ($listOfTest.size() > 0)
                            <div class="card  search-wrapping">
                                <div class="header">
                                    <h4 class="title">Tests found:</h4>
                                    <p class="category">This list shows all tests found with the key word: $result.getSearchKey()</p>
                                </div>
                                <div class="content table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <th>N.</th>
                                        <th>Test Name</th>
                                        <th>Done/Total cases</th>
                                        <th>End Time</th>
                                        </thead>
                                        <tbody>
                                            #set($index = 1)
                                            #foreach($test in $listOfTest)
                                            <tr>
                                                <td><a href ="results?test=$linkTool.encode($test.getTestId())">$index</a></td>
                                                <td><a href ="results?test=$linkTool.encode($test.getTestId())">$test.getTestName()</a></td>
                                                <td><a href ="results?test=$linkTool.encode($test.getTestId())">$test.getDoneTests()/$test.getTotalTests()</a></td>
                                                #if ($test.getStatus())
                                                    <td><a href ="results?test=$linkTool.encode($test.getTestId())">$dateTool.format($test.getEndTime())</a></td>
                                                #else
                                                    <td><a href ="results?test=$linkTool.encode($test.getTestId())">NC</a></td>
                                                #end
                                            </tr>
                                            #set($index = $index + 1)
                                            #end
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            #end
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of main data content display -->
        </div>
    </div>
</body>
    <!--   Core JS Files   -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/js/light-bootstrap-dashboard.js"></script>
</html>