<!--
Copyright 2017 Google Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<html lang="en">
<head>

    <meta charset="utf-8" />
    <title>$browserList.get(0).getName() _ $browserList.get(0).getVersion() _ $browserList.get(0).getPlatform()
              vs
    $browserList.get(1).getName() _ $browserList.get(1).getVersion() _ $browserList.get(1).getPlatform()</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.0/pace.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.0/themes/black/pace-theme-minimal.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Custom fonts for this template-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="assets/css/sb-admin.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js" type="text/javascript"></script>
    <script src="assets/js/plot.js"></script>
    <script>
        request = '$statRequest';
    </script>
</head>
<body id="page-top">
  <div class="overview-container">
    <div class="card mb-3">
      <div class="card-header">
        ICE stats:
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="caller-tab" data-toggle="tab" href="#caller-pair" role="tab" aria-controls="caller-pair" aria-selected="true">
              $browserList.get(0).getName() _ $browserList.get(0).getVersion() _ $browserList.get(0).getPlatform()
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="callee-tab" data-toggle="tab" href="#callee-pair" role="tab" aria-controls="callee-pair" aria-selected="false">
              $browserList.get(1).getName() _ $browserList.get(1).getVersion() _ $browserList.get(1).getPlatform()
            </a>
          </li>
        </ul>
      </div>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="caller-pair" role="tabpanel" aria-labelledby="caller-tab">
          <div class="card-body">
            <div class="big-container">
              <table class="table">
                <thead class="thead-dark small-boy">
                  <th>Local Candidate</th>
                  <th>Remote Candidate</th>
                  <th>ICE State</th>
                  <th>Nominated</th>
                  <th>Priority</th>
                  <th>Bytes Sent</th>
                  <th>Bytes Received</th>
                </thead>
                <tbody id="caller-candidate-pairs">
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="callee-pair" role="tabpanel" aria-labelledby="callee-tab">
          <div class="card-body">
            <div class="big-container">
              <table class="table">
                <thead class="thead-dark small-boy">
                  <th>Local Candidate</th>
                  <th>Remote Candidate</th>
                  <th>ICE State</th>
                  <th>Nominated</th>
                  <th>Priority</th>
                  <th>Bytes Sent</th>
                  <th>Bytes Received</th>
                </thead>
                <tbody id="callee-candidate-pairs">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="stats" class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card mb-3">
          <div class="card-header">
            <strong>[SDP]</strong>
            <button type="button" class="btn btn-light" id="caller-sdp-offer" data-toggle="collapse" data-target="#sdp-offer">
              <a class="stat-title">Offer</a>
            </button>
            <button type="button" class="btn btn-light" id="caller-sdp-answer" data-toggle="collapse" data-target="#sdp-answer">
              <a class="stat-title">Answer</a>
            </button>
          </div>
          <div class="card-body">
            <div id="sdp-offer" class="col-lg-12 col-md-12 col-sm-12 collapse">
              <h5> Offer </h5>
              <div class="medium-container">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 ">
                    <div id="caller-sdp-offer-detail" ></div>
                  </div>

                  <div id="" class="col-lg-6 col-md-6 col-sm-6">
                    <div id="callee-sdp-offer-detail"></div>
                  </div>
                </div>
              </div>
            </div>
            </br>
            <div id="sdp-answer" class="col-lg-12 col-md-12 col-sm-12 collapse ">
              <h5> Answer </h5>
              <div id="" class="medium-container">
                <div class="row">
                  <div id="" class="col-lg-5 col-md-5 col-sm-5">
                    <div id="caller-sdp-answer-detail" ></div>
                  </div>
                  <div id="" class="col-lg-5 col-md-5 col-sm-5">
                    <div id="callee-sdp-answer-detail"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card mb-3">
          <div class="card-header">
            <strong>[Audio]</strong></br>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <button type="button" class="btn btn-light" id="caller-audio-bytes" data-toggle="collapse" data-target="#audio-bytes-plot"></button>
                <button type="button" class="btn btn-light" id="caller-audio-packets" data-toggle="collapse" data-target="#audio-packets-plot"></button>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <button type="button" class="btn btn-light" id="callee-audio-bytes" data-toggle="collapse" data-target="#audio-bytes-plot"></button>
                <button type="button" class="btn btn-light" id="callee-audio-packets" data-toggle="collapse" data-target="#audio-packets-plot"></button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div id="audio-bytes-plot" class="collapse">
              <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5">
                  <div id="caller-audio-bytes-plot" >
                    <canvas id="caller-audio-bytes-plotting"></canvas>
                  </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-5 offset-md-1 col-sm-5 offset-sm-1">
                  <div id="callee-audio-bytes-plot">
                    <canvas id="callee-audio-bytes-plotting"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div id="audio-packets-plot" class="collapse">
              <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5">
                  <div id="caller-audio-packets-plot">
                    <canvas id="caller-audio-packets-plotting"></canvas>
                  </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-5 offset-md-1 col-sm-5 offset-sm-1">
                  <div id="callee-audio-packets-plot">
                    <canvas id="callee-audio-packets-plotting"></canvas>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card mb-3">
          <div class="card-header">
            <strong>[Video]</strong></br>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <button type="button" class="btn btn-light" id="caller-video-bytes" data-toggle="collapse" data-target="#video-bytes-plot">
                </button>
                <button type="button" class="btn btn-light" id="caller-video-packets" data-toggle="collapse" data-target="#video-packets-plot">
                </button>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <button type="button" class="btn btn-light" id="callee-video-bytes" data-toggle="collapse" data-target="#video-bytes-plot">
                </button>
                <button type="button" class="btn btn-light" id="callee-video-packets" data-toggle="collapse" data-target="#video-packets-plot">
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div id="video-bytes-plot" class="collapse">
              <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5">
                  <div id="caller-video-bytes-plot" >
                    <canvas id="caller-video-bytes-plotting"></canvas>
                  </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-5 offset-md-1 col-sm-5 offset-sm-1">
                  <div id="callee-video-bytes-plot">
                    <canvas id="callee-video-bytes-plotting"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div id="video-packets-plot" class="collapse">
              <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5">
                  <div id="caller-video-packets-plot">
                    <canvas id="caller-video-packets-plotting"></canvas>
                  </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-5 offset-md-1 col-sm-5 offset-sm-1">
                  <div id="callee-video-packets-plot">
                    <canvas id="callee-video-packets-plotting"></canvas>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>    <!-- Core plugin JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="assets/js/sb-admin.min.js"></script>

</body>

</html>