    @media screen and (min-width: 400px) {
        .modal-dialog {
            width: 70%;
        }
        .success {
            background:none;
            border:none;
            color: green;
        }
        .failed {
            background:none;
            border:none;
            color: red;
        }
        .waiting {
            background:none;
            border:none;
            color: black;
        }
        .error {
            background:none;
            border:none;
            color: blue;
        }
        a {
          color: black;
          text-decoration: none;
        }
    }
    input, select, textarea{
        color: #000000;
        border-radius: 8px;
        padding: 2px 2px;
    }

    td{
        font-size: 12px;
        font-weight: 300;
    }

    td.small{
        border: 1px solid white;
        width: 5px;
        height: 5px;
    }
    td.big{
        border: 3px solid white;
        width: 40px;
        height: 40px;
    }
    td.ok{
        background: linear-gradient(to bottom right, green, white);
    }
    td.errored{
        background: linear-gradient(to bottom right, #3366ff, white);
    }
    td.notok{
        background: linear-gradient(to bottom right, red, white);
    }
    td.tbd{
        background: linear-gradient(to bottom right, gold, white);
    }
    td.not-covered{
        background: linear-gradient(to bottom right, gray, white);
    }
    td.untestable{
        background: linear-gradient(to bottom right, black, white);
    }
    td.caller{
        height: 50px;
        width: 50px;
    }

    td.callee{
        max-width: 50px;
        width: 50px;
        height: 50px;
    }

    .tilt-text {
        transform: rotate(290deg);
    }

    .small-text{
        font-size: 10px;
    }
    .medium-text{
        font-size: 13px;
    }
    .cell{
        overflow: hidden;
    }
    .hidden-grid{
        display: none;
    }

    .custom{
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    .button-cell{
        opacity: 0;
        display:inline-block;
        width: 100%;
        height: 100%;
        overflow:hidden;
    }
    .logged{
        overflow-y: scroll;
        height: 70px;
        text-align: left;
        word-break: break-all;
    }

    .result-wrapper{
        max-height: 800px;
        overflow-y: auto;
    }

