video {
  padding : 10px;
  border: 5px solid white;
  height: 320px;
  width: 480px;
}
canvas {
  padding : 10px;
  border: 5px solid white;
  height: 320px;
  width: 480px;
}

.log-container{
  max-height: 500px;
  overflow: auto;
  border: 1px solid black;
}